@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;600;800&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Domine:wght@500;600;700&display=swap"); */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  /* fonts */
  --f-sora: "Sora", Arial, Helvetica, sans-serif;
  --f-domine: "Domine", Georgia, "Times New Roman", Times, serif;
  /* font sizes */

  /* colors */

  --color-1: #6b705c;
  --color-2: #a5a58d;
  --color-3: #1a1a1a;
  --color-4: #ffffff;
  --color-accent: #8c425d;
}

body {
  margin: 0%;
}

.mainNav {
  display: flex;
  overflow: hidden;
  align-items: center;
  height: 5.5rem;
  font-family: "Domine", serif;
}
header {
  background-color: var(--color-1);
  margin: 0;
}
header a {
  margin: 0;
}
h1 {
  margin-left: auto;
  font-family: var(--f-domine);
}
.home {
  margin-left: auto;
  margin-right: 10%;
  color: white;
  text-decoration: none;
}

.hidden {
  visibility: hidden;
}
#burger_1 {
  background-image: url(burger.svg);
  width: 100vw;
  height: 7vh;
  background-repeat: no-repeat;
  margin-left: 4vw;
  display: grid;
  gap: 10%;
  z-index: 2;
  position: relative;
}
#burger_1 div {
  display: grid;
  gap: 10%;
  margin-top: 10%;
}
#burgerMenu2 {
  background-color: var(--color-1);
  width: 100vw;
  height: 100vh;
  top: 0;
  background-repeat: no-repeat;
  display: grid;
  z-index: 2;
  position: absolute;
  font-family: var(--f-sora);
  font-style: var(--color-4);
}
#burgerMenu2 a {
  color: var(--color-4);
  text-decoration: none;
}

#burger_2 {
  background-color: #6b705c;
  background-image: url(burger.svg);
  width: 100vw;
  height: 7vh;
  background-repeat: no-repeat;
  margin-top: 2.7vh;
  margin-left: 4vw;
  margin-right: 4vw;
  display: grid;
  z-index: 2;
  position: relative;
}
.burger_category {
  width: 50vw;
  height: 7vh;
  background-repeat: no-repeat;
  margin-left: 20vw;
  margin-right: 10vw;
  display: grid;
  z-index: 2;
  top: 50vh;
  position: absolute;
  align-items: center;
  align-content: center;
}
hr {
  border: var(--color-4) solid 0.1px;
  margin-bottom: 10vh;
  margin-top: 1vh;
}
.main_page {
  background-color: #6b705c;
  background-image: url(main_page.png);
  height: 70vh;
  background-repeat: no-repeat;
  position: relative;
  align-items: center;
  align-content: center;
  text-align: center;
}
.main_page h2 {
  font-family: var(--f-sora);
  color: var(--color-4);
}
