@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;600;800&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Domine:wght@500;600;700&display=swap"); */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  /* fonts */
  --f-sora: "Sora", Arial, Helvetica, sans-serif;
  --f-domine: "Domine", Georgia, "Times New Roman", Times, serif;
  /* font sizes */

  /* colors */

  --color-1: #6b705c;
  --color-2: #a5a58d;
  --color-3: #1a1a1a;
  --color-4: #ffffff;
  --color-accent: #8c425d;
}

body {
  margin: 0%;
}

.mainNav {
  display: flex;
  overflow: hidden;
  align-items: center;
  height: 5.5rem;
  font-family: "Domine", serif;
}
header {
  background-color: #1a1a1a;
  margin: 0;
}
header a {
  margin: 0;
}
h1 {
  margin-left: auto;
}
.home {
  margin-left: auto;
  margin-right: 10%;
  color: white;
  text-decoration: none;
}

.hidden {
  visibility: hidden;
}
#burger_1 {
  background-color: rgb(54, 44, 44);
  background-image: url(burger.svg);
  width: 100%;
  height: 60%;
  top: 0;
  background-repeat: no-repeat;
  margin-top: 0;
  margin-left: 2%;
  display: grid;
  gap: 10%;
  z-index: 2;
  position: relative;
}
#burger_1 div {
  display: grid;
  gap: 10%;
  margin-top: 10%;
}
#burgerMenu2 {
  background-color: rgb(54, 44, 44);
  width: 100vw;
  height: 100vh;
  top: 0;
  background-repeat: no-repeat;

  display: grid;
  gap: 10%;
  z-index: 2;
  position: absolute;
}
#burgerMenu2 div {
  display: grid;
  gap: 1%;
}
#burger_2 {
  background-color: rgb(54, 44, 44);
  background-image: url(burger.svg);
  width: 100%;
  height: 60%;
  background-repeat: no-repeat;
  margin-top: 5%;
  margin-left: 2%;
  display: grid;
  z-index: 2;
  position: relative;
}
